.headerTop{
    background-color: #363636;
    color:#B0B0B0;
}
.headerTop a{
    color:#B0B0B0;
    font-size: 12px;
}
.headerTop a:hover{
    color:#fff;
}
.headerTop .fl{
    height: 40px;
    line-height: 40px;
}
.headerTop .fl span,.headerTop .fr span{
    color:#423D39;
    margin:0px 3px;
}
.headerTop .fr .car{
    display: inline-block;
    background-color: #454545;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.headerTop .fr{
    height: 40px;
}
.headerTop .fr .car em{
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-right: 4px;
}

.header{
    height: 100px;
    position: relative;
}
.header .logo{
    height: 56px;
    width: 56px;
    display: block;
    background:url("../img/logomi.png") no-repeat center center;
    background-size: 100%;
    margin-top: 22px;
    margin-right: 178px;
    text-indent: -1000px;
}
.header .nav li{
    float: left;
    height: 100px;
    line-height: 100px;
    font-size: 16px;
    color:#363636;
    padding: 0px 10px;
}


.header .search{
    width: 296px;
    height: 50px;
    margin-top: 25px;
    position: relative;
}
.header .search .input{
    width: 243px;
    height: 48px;
    /* 去除输入框选中边 */
    outline: none; 
    font-size: 14px;
    color:#757575;
    text-indent: 10px;
    border:1px solid #E0E0E0;
    float: left;
}
.header .search .btn{
    height: 48px;
    width: 50px;
    float: left;
    /* border-top:1px solid #E0E0E0; */
    /* border-bottom:1px solid #E0E0E0; */
    /* border-right:1px solid #E0E0E0; */
    border:1px solid #E0E0E0;
    border-left: 0px;
    font-size: 25px;
    text-align: center;
    /* background: url("./img/ss.png") center center no-repeat; */
}
.header .search .btn input{
    font-size: 25px;
    margin: 9px auto 0 auto;
    color:#616161;
}

.header .search .btn:hover{
    background-color: #FF6A00;
}
.header .search .btn:hover input{
    color:#fff;
}
.header .search.con input{
    border-color: #FF6A00;
}
.header .search.con .btn{
    border-color: #FF6A00;
}
.header .search.con .lists{
    display: block;
}
.header .search:hover .input,.header .search:hover .btn{
    border-color:#B0B0B0;
}

.header .search .lists{
    width: 243px;
    border:1px solid #FF6A00;
    position: absolute;
    left:0px;
    top:49px;
    display: none;
}
.header .search .lists a{
    display: block;
    color:#424242;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-indent: 14px;
}
.header .search .lists a:hover{
    background-color: #FAFAFA;
}



.wrapper{
    position: relative;
}
.wrapper .slide{
    width: 1226px;
    height: 460px;
    position: relative;
}

.wrapper .slide ul li img{
    width: 100%;
}

.wrapper .slide .btn{
    width: 40px;
    height: 69px;
    background:url("../img/icon-slides.png") no-repeat -83px 0px;
    position: absolute;
    top:0px;
    bottom: 0px;
    left:234px;
    margin: auto;
}
.wrapper .slide .btn:hover{
    background-position: 0px 0px;
}
.wrapper .slide .btn.Rbtn{
    background-position: -125px 0px;
    left:auto;
    right:0px;
}
.wrapper .slide .btn.Rbtn:hover{
    background-position: -41px 0px;
}
.wrapper .slide ol{
    position: absolute;
    right: 34px;
    bottom: 25px;
}
.wrapper .slide ol li{
    border:2px solid #B7B3AC;
    background: #989288;
    width: 6px;
    height: 6px;
    margin-left: 8px;
    float: left;
    border-radius: 50%;
}
.wrapper .slide ol li.con{
    background-color: transparent;
    border-color: #99958F;
}

.wrapper .category{
    width: 234px;
    height: 460px;
    background-color: rgba(0,0,0,0.4);/*0-1*/
    position: absolute;
    top:0px;
    left:0px;

}
.wrapper .category ul{
    padding-top: 20px;
}
.wrapper .category ul li{
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    font-size: 14px;
    color:#fff;
}
.wrapper .category ul li:hover{
    background-color: #FF6A00;
}
.wrapper .category ul li span{
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    float: right;
    margin-right: 24px;
}
.wrapper .category ul li .itemList{
    position: absolute;
    left:234px;
    top:0px;
    background-color: #fff;
    width: 992px;
    height:458px;
    border:1px solid #E0E0E0;
    border-left: none;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    display: none;
}
.wrapper .category ul li:hover .itemList{
    display: block;
}
.wrapper .itemList a{
    display: block;
    width: 248px;
    height: 76px;
    line-height: 76px;
    float: left;
    color:#363636;
    font-size: 14px;
}
.wrapper .itemList a img{
    vertical-align: middle;
    margin: 0px 12px 0px 21px;
}
.channel-list{
    margin: 14px auto 26px auto;
}
.channel-list ul{
    width: 231px;
    background: #5F5851;
    height: 168px;
    padding:2px 0px 0px 3px;
}
.channel-list ul li{
    width: 76px;
    height: 82px;
    float: left;
    text-align: center;
    font-size: 12px;
    color:#CFCCCA;
    position: relative;
    opacity: 0.7;
}
.channel-list ul li::after{
    content: "";
    width: 64px;
    height: 1px;
    background-color: #665E58;
    position: absolute;
    top:0px;
    left:6px;
}

.channel-list ul li::before{
    content: "";
    width: 1px;
    height: 70px;
    background-color: #665E58;
    position: absolute;
    top:7px;
    left:0px;
}
.channel-list ul li img{
    width: 26px;
    height: 26px;
    display: block;
    margin: 18px auto 6px auto;
}
.channel-list ul li:hover{
    opacity: 1;
}
.channel-list .item{
    width: 316px;
    height: 170px;
    margin-left: 14px;
}
.channel-list .item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.channel-list .item img{
    width: 100%;
}

.home{
    background-color: #F5F5F5;
}
.home .tabsList .head h1{
    color:#363636;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.home .tabsList .head ul li{
    float: left;
    height: 23px;
    line-height: 23px;
    margin-top: 16px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    color:#454545;
    margin-left: 30px;
}
.home .tabsList .head ul li.con{
    border-color: #FF6700;
    color:#FF6700;
}
.home .tabsList .body .fl{
    width: 234px;
    height: 614px;
    background-color: #fff;
}
.home .tabsList .body .fr{
    width: 992px;
}
.home .tabsList .body .fr li{
    float: left;
    width: 234px;
    margin: 0px 0px 14px 14px;
    height: 300px;
    background-color: #fff;
    text-align: center;
}
.home .tabsList .body .fr li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.home .tabsList .body .fr li .img{
    width: 160px;
    height: 160px;
    margin: auto;
    padding:20px 0px 18px 0px;
}
.home .tabsList .body .fr li .img img{
    width: 100%;
}
.home .tabsList .body .fr li h5{
    color:#363636;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
}
.home .tabsList .body .fr li h6{
    color:#B0B0B0;
    height: 22px;
    line-height: 22px;
    font-weight: normal;
    padding:0px 10px;
    margin-bottom: 10px;
}
.home .tabsList .body .fr li .price{
    height: 20px;
    line-height: 20px;
    color:#FF6700;
    font-size: 14px;
}
.home .tabsList .body .fr li del{
    color:#B0B0B0;
}
.home .tabsList .body .fr .brick_item{
    width: 234px;
    height: 143px;
    float: left;
    background-color: #fff;
}
.home .tabsList .body .fr .brick_item .text{
    float: left;
    width: 90px;
    margin: 40px 0 0 30px;
    text-align: left;
}


.home .tabsList .body .fr .brick_item .text h1{
    font-size: 14px;
    line-height: 22px;
    color:#363636;
    font-weight: normal;
}
.home .tabsList .body .fr .brick_item .text .price{
    font-size: 12px;
}
    
.home .tabsList .body .fr .brick_item .imgs{
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 15px;
}
.home .tabsList .body .fr .brick_item .imgs img{
    width: 100%;
}
.home .tabsList .body .fr .brick_item2{
    width: 234px;
    height: 143px;
    float: left;
    background-color: #fff;
    position: relative;
}

.home .tabsList .body .fr .brick_item2 .text{
    margin: 51px 0 0 30px;
    text-align: left;
}
.home .tabsList .body .fr .brick_item2 .text h1{
    font-size: 20px;
    color:#363636;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
}
.home .tabsList .body .fr .brick_item2 .text p{
    color:#757575;
}
.home .tabsList .body .fr .brick_item2 span{
    width: 55px;
    height: 55px;
    font-size: 48px;
    color:#FF6700;
    text-align: center;
    line-height: 55px;
    position: absolute;
    top:41px;
    left:147px;
}

.serviceList{
    overflow: hidden;
}
.serviceList ul{
    border-bottom: 1px solid #E0E0E0;
    width: 1230px;
}
.serviceList li{
    float: left;
    height: 25px;
    line-height: 25px;
    margin: 27px 0px;
    font-size: 16px;
    color:#616161;
    width: 245px;
    text-align: center;
    border-right: 1px solid #E0E0E0;
}
.serviceList li em{
    font-size: 22px;
    vertical-align: middle;
    margin-right: 6px;
}
.serviceList li:hover{
    color:#FF6700;
}
.footer-list{
    position: relative;
    margin-bottom: 35px;
}
.footer-list dl{
    float: left;
    padding-top: 18px;
    width: 160px;
}
.footer-list dl dt{
    height: 58px;
    line-height: 58px;
    color:#454545;
    font-size: 14px;
}
.footer-list dl dd{
    height: 28px;
    line-height: 28px;
    color:#757575;
    font-size: 12px;
}
.footer-list dl dd:hover{
    color:#FF6700;
}
.footer-list .number{
    height: 80px;
    width: 250px;
    position: absolute;
    top:40px;
    right: 0px;
    text-align: center;
    border-left: 1px solid #E0E0E0;
}
.footer-list .number strong{
    color:#FF6700;
    font-size: 20px;
    font-weight: normal;
}
.footer-list .number p{
    font-size: 12px;
    color:#616161;
    margin: 6px 0px;
}
.footer-list .number button{
    height: 28px;
    line-height: 28px;
    width: 118px;
    border:1px solid #FF6700;
    color:#FF6700;
    background-color: #fff;
}
.footer-list .number button:hover{
    color:#fff;
    background-color: #FF6700;
}

.footer_info{
    background-color: #FAFAFA;
    padding:30px 0px;
}
.footer_info .box{
    padding-left: 77px;
    position: relative;
}
.footer_info .info{
    line-height: 20px;
    color:#757575;
    font-size: 12px;
}

.footer_info p{
    line-height: 20px;
    color:#B0B0B0;
    font-size: 12px;
}

.footer_info .logolist img{
    height: 28px;
    float: left;
}

.footer_info .mi{
    height: 30px;
    background: url(../img/slogan2020.png) center center no-repeat;
}
.footer_info .logo{
    width: 56px;
    height: 56px;
    background: url("../img/logomi.png") center center no-repeat;
    background-size: 100%;
    position: absolute;
    top:0px;
    left:0px;
}



.header-nav-menu{
    position: absolute;
    width: 100%;
    height: 229px;
    background-color: #fff;
    top: 100px;
    left:0px;
    z-index: 200;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    display: none;
}

.header-nav-menu li{
    float: left;
    margin-top: 35px;
    width: 204px;
    text-align: center;
    position: relative;
}
.header-nav-menu li::after{
    content: "";
    height: 100px;
    width: 1px;
    background-color: #E0E0E0;
    position: absolute;
    display: block;
    top:0px;
    right: 0px;
}
.header-nav-menu li:last-of-type::after{
    background-color: transparent;
}
.header-nav-menu li .img{
    height: 110px;
    margin: 0 auto 15px auto;
}
.header-nav-menu li .img img{
    height: 110px;
}
.header-nav-menu li h6{
    font-size: 12px;
    color:#363636;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
}
.header-nav-menu li p{
    font-size: 12px;
    color:#FF6700;
    height: 20px;
    line-height: 20px;
}


.rightNav{
    width: 84px;
    border: 1px solid #F5F5F5;
    border-bottom: none;
    position: fixed;
    right:0px;
    bottom:100px;
    background-color: #fff;
}
.rightNav li{
    border-bottom: 1px solid #F5F5F5;
    height: 90px;
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
}
.rightNav li .img{
    width: 30px;
    height: 30px;
    background: url("../img/0001.png") no-repeat center center;
    background-size: 100%;
    margin: 17px auto 9px auto;
}
.rightNav li p{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color:#757575;
}


.rightNav li:hover .img{
    background-image: url(../img/0002.png);
}
.rightNav li:hover p{
    color:#FF6A00;
}

.rightNav li.dv1 .img{
    background-image: url(../img/0003.png);
}

.rightNav li.dv1:hover .img{
    background-image: url(../img/0004.png);
}

.rightNav li .info{
    width: 128px;
    height: 168px;
    border:1px solid #F5F5F5;
    padding-top: 22px;
    position: absolute;
    top:0px;
    left:-143px;
    display: none;
    background-color: #fff;
}
.rightNav li:hover .info{
    display: block;
}
.rightNav li .info img{
    width: 95px;
    height: 95px;
    margin-bottom: 10px;
    
}
.rightNav li .info>div{
    font-size: 14px;
    color:#757575;
}
.rightNav li .info::after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border:10px solid transparent;
    border-left: 10px solid #F5F5F5;
    position: absolute;
    top:42px;
    right: -20px;
    z-index: 10;
}
.rightNav li .info::before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border:10px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top:42px;
    right: -19px;
    z-index: 20;
}